# 백엔드 node_modules
/anon-board/node_modules/
/anon-board/dist/
/anon-board/.env

# 프론트엔드 node_modules
/anon-board-frontend/node_modules/
/anon-board-frontend/build/
/anon-board-frontend/.env

# 기타 공통 무시 항목
.DS_Store
