# Node.js dependencies
anon-board/node_modules/
anon-board-frontend/node_modules/

# React build output
anon-board/build/
anon-board-frontend/build/

# Logs
anon-board/*.log

# OS 관련 파일
anon-board/.DS_Store
anon-board/Thumbs.db
anon-board-frontend/.DS_Store
anon-board-frontend/Thumbs.db

# 환경설정 파일 (필요시)
anon-board/.env
anon-board-frontend/.env